<ion-header>
  <ion-toolbar class="header-tool">
    <div class="header">
     <div>
      <ion-icon name="arrow-back-outline" class="close-icon" routerLink="/home-page"></ion-icon>
     </div>
     <div class="p1">
      <p>What's New</p>
     </div>
     <div>

     </div>
      </div>
 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="main-div">
  <!-- section-1 -->
  <div class="section-1">
    <h2>What's New</h2>
    <p>The latest releases from artist, podcasts, and shows you follow.</p>
  </div>
  <!-- section-2 -->
  <div class="section-2">
    <div class="tabs">
      <div>
        <ion-button class="music-tab">Music</ion-button>
      </div>
      <div>
        <ion-button class="Podcasts-tab">Podcasts & Shows</ion-button>
      </div>
    </div>
  </div>
  <!-- section-3 -->
  <div class="section-3">
    <div>
      <h4>New</h4>
      <div class="playlist-div">
       <img src="../../../assets/images/arijit singh2.jpg" alt="" height="60px" width="70px">
        <div>
          <span>13 hrs ago</span>
          <p class="p1">Mono Porle - Chillwave Mix </p>
          <span>Arijit Singh, Ri8 Music</span>
        </div>
      </div>
      <p class="single-p">Single</p>
     <div class="icon-main-div">
      <div class="icons">
        <ion-icon name="add-circle-outline" class="add-icon"></ion-icon>
        <div>
          <ion-icon name="ellipsis-vertical-outline" class="dot-icon"></ion-icon>
        </div>
      </div>
      <div>
        <ion-icon name="play-circle" class="play-icon"></ion-icon>
      </div>
     </div>
     <hr>
       <div class="playlist-div">
       <img src="../../../assets/images/arijit singh2.jpg" alt="" height="60px" width="70px">
        <div>
          <span>13 hrs ago</span>
          <p class="p1">Mono Porle - Chillwave Mix </p>
          <span>Arijit Singh, Ri8 Music</span>
        </div>
      </div>
      <p class="single-p">Single</p>
     <div class="icon-main-div">
      <div class="icons">
        <ion-icon name="add-circle-outline" class="add-icon"></ion-icon>
        <div>
          <ion-icon name="ellipsis-vertical-outline" class="dot-icon"></ion-icon>
        </div>
      </div>
      <div>
        <ion-icon name="play-circle" class="play-icon"></ion-icon>
      </div>
     </div>
     <hr>
       <div class="playlist-div">
       <img src="../../../assets/images/arijit singh2.jpg" alt="" height="60px" width="70px">
        <div>
          <span>13 hrs ago</span>
          <p class="p1">Mono Porle - Chillwave Mix </p>
          <span>Arijit Singh, Ri8 Music</span>
        </div>
      </div>
      <p class="single-p">Single</p>
     <div class="icon-main-div">
      <div class="icons">
        <ion-icon name="add-circle-outline" class="add-icon"></ion-icon>
        <div>
          <ion-icon name="ellipsis-vertical-outline" class="dot-icon"></ion-icon>
        </div>
      </div>
      <div>
        <ion-icon name="play-circle" class="play-icon"></ion-icon>
      </div>
     </div>
     <hr>
       <div class="playlist-div">
       <img src="../../../assets/images/arijit singh2.jpg" alt="" height="60px" width="70px">
        <div>
          <span>13 hrs ago</span>
          <p class="p1">Mono Porle - Chillwave Mix </p>
          <span>Arijit Singh, Ri8 Music</span>
        </div>
      </div>
      <p class="single-p">Single</p>
     <div class="icon-main-div">
      <div class="icons">
        <ion-icon name="add-circle-outline" class="add-icon"></ion-icon>
        <div>
          <ion-icon name="ellipsis-vertical-outline" class="dot-icon"></ion-icon>
        </div>
      </div>
      <div>
        <ion-icon name="play-circle" class="play-icon"></ion-icon>
      </div>
     </div>
     <hr>
       <div class="playlist-div">
       <img src="../../../assets/images/arijit singh2.jpg" alt="" height="60px" width="70px">
        <div>
          <span>13 hrs ago</span>
          <p class="p1">Mono Porle - Chillwave Mix </p>
          <span>Arijit Singh, Ri8 Music</span>
        </div>
      </div>
      <p class="single-p">Single</p>
     <div class="icon-main-div">
      <div class="icons">
        <ion-icon name="add-circle-outline" class="add-icon"></ion-icon>
        <div>
          <ion-icon name="ellipsis-vertical-outline" class="dot-icon"></ion-icon>
        </div>
      </div>
      <div>
        <ion-icon name="play-circle" class="play-icon"></ion-icon>
      </div>
     </div>
    </div>
  </div>
</div>
</ion-content>
