<ion-header>
  <ion-toolbar class="header-tool">
    <div class="header">
     <div>
      <ion-icon name="arrow-back-outline" class="back-arrow"  routerLink="/library-main"></ion-icon>
     </div>
     <div class="input">
     <p>My playlist #1</p>
     </div>
     <div>

     </div>
      </div> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-div">
    <!-- main square div -->
    <div class="square-parent">
      <div class="square-div">
        <ion-icon name="play-skip-forward-circle-outline" class="play-icon"></ion-icon>
      </div>
    </div>

    <!-- playlist name -->
    <div class="section-2">
      <h6>My playlist #1</h6>
      <p> <ion-icon name="person-circle-outline"></ion-icon> Mylist</p>
      <div class="section-2-div2">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </div>
    </div>

     <!-- start building your playlist -->
    <div class="section-3">
     <div>
      <p>Let's start building your playlist</p>
      <div class="ion-text-center">
        <ion-button class="add-playlist-btn">Add to this playlist</ion-button>
      </div>
     </div>
    </div>
        <!-- Recommended songs -->
    <div class="section-4">
      <div>
        <h6>Recommended Songs</h6>
        <p>Based on the name of this playlist</p>
      </div>
         
      <!-- songs lists -->
       <div class="section-4-lists">
          <div class="section-2-forth">
            <div class="color-div">
              <img src="../../../assets/images/letme.jpg" alt="">
            </div>
            <div class="Episodes">
              <h6>Let Me Down Slowly</h6>
              <p>Alec Benjamin</p>
            </div>
           </div>
           <div>
            <ion-icon name="musical-notes-outline" class="tone-icon"></ion-icon>
           </div>
       </div>

       <div class="section-4-lists">
        <div class="section-2-forth">
          <div class="color-div">
            <img src="../../../assets/images/letme.jpg" alt="">
          </div>
          <div class="Episodes">
            <h6>Mere Liye Tum Kaafi Ho</h6>
            <p>Ayushmann Khurrana</p>
          </div>
         </div>
         <div>
          <ion-icon name="musical-notes-outline" class="tone-icon"></ion-icon>
         </div>
     </div>

     <div class="section-4-lists">
      <div class="section-2-forth">
        <div class="color-div">
          <img src="../../../assets/images/letme.jpg" alt="">
        </div>
        <div class="Episodes">
          <h6>Alone, Pt. ||</h6>
          <p>Alan Walker, Ava Max</p>
        </div>
       </div>
       <div>
        <ion-icon name="musical-notes-outline" class="tone-icon"></ion-icon>
       </div>
   </div>

   <div class="section-4-lists">
    <div class="section-2-forth">
      <div class="color-div">
        <img src="../../../assets/images/letme.jpg" alt="">
      </div>
      <div class="Episodes">
        <h6>Pasoori</h6>
        <p>Shae Gill, Ali Sethi</p>
      </div>
     </div>
     <div>
      <ion-icon name="musical-notes-outline" class="tone-icon"></ion-icon>
     </div>
 </div>

 <div class="section-4-lists">
  <div class="section-2-forth">
    <div class="color-div">
      <img src="../../../assets/images/letme.jpg" alt="">
    </div>
    <div class="Episodes">
      <h6>Khairiyat</h6>
      <p>Pritam Arijit Singh</p>
    </div>
   </div>
   <div>
    <ion-icon name="musical-notes-outline" class="tone-icon"></ion-icon>
   </div>
</div>

<div class="section-4-lists">
  <div class="section-2-forth">
    <div class="color-div">
      <img src="../../../assets/images/letme.jpg" alt="">
    </div>
    <div class="Episodes">
      <h6>Raataan Lambiyan</h6>
      <p>Tanishk Bagchi, Jubin Nautiyal,</p>
    </div>
   </div>
   <div>
    <ion-icon name="musical-notes-outline" class="tone-icon"></ion-icon>
   </div>
</div>
  <!-- Refresh Button -->
<div class="refresh-btn-div">
<ion-button class="refresh-btn">Refresh</ion-button>
</div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>