ion-content{
    ion-tabs{
       .tabs-bg{
        --background:black;
        .tabs-text{
            color: var(  --ion-color-medium-tint);
        }
         .active{
            color: white;
         }
       
       }
    }
}