<ion-header>
  <ion-toolbar class="header-tool">
    <div class="header">
     <div>
      <ion-icon name="arrow-back-outline" class="back-arrow" routerLink="/sign-up"></ion-icon>
     </div>
     <div class="p1">
      <p>Create account</p>
     </div>
     <div>

     </div>
      </div>
 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="main-div"> 
 <p class="p1">Create a password</p>
 <div class="input-div">
  <ion-input class="input" type="password"></ion-input>
 </div>
<small class="small-tag">Use at least 8 characters.</small>
<div class="btn-div">
  <ion-button class="next-btn" routerLink="/dob">Next</ion-button>
</div>
 </div>
</ion-content>
