*{
    font-family: var(--font-family-poppins);
}

ion-header{
    .header-tool{
        --background:var(--ion-header-background);
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
       
    
            .back-arrow{
                color: white;
                font-size: 1.3rem;
                padding-left: 3px;
                
            }
            .p1{
                text-align: center;
                color: white;
                font-size: 1.1rem;
                padding-right: 2rem;
            }
        }
    }
  
  
   
   }

   ion-content{
    .main-div{
        background-color: black;
        height: 100%;
        .p1{
            font-size: 1.3rem;
            color: white;
            font-weight: 700;
            margin-top: 0;
            padding-top: 2rem;
            padding-left: 0.9rem;
            margin-bottom: 4px;
        }  
        .input-div{
            padding: 0.9rem;
            .input{
                border-radius: 10px; 
                background-color: gray; 
                min-height: 45px;   
                color: white; 
                --padding-end: 10px;
                --padding-start: 10px;           
            } 
         }
       
        
        .small-tag{
            color: white;
            padding-left: 0.9rem;
            padding-top: 5px;
        }
        .btn-div{
            display: flex;
            justify-content: center;
            margin-top: 2rem;            
                
                .next-btn{
                    width: 24%;
                    --border-radius: 60px;
                    --background: var( --ion-buttons-color);  
                    font-weight: 800;
                    font-size: 0.8rem;
            }
            
        }
    }
}
