<ion-header [translucent]="true">
  <ion-toolbar>
  <div class="header">
    <h5>Search</h5>
    <div>
      <ion-icon name="camera-outline"></ion-icon>
    </div>
  </div>
  <div>
    <ion-item class="input-item" routerLink="/search-tab">
      <ion-input Placeholder="What do you want to listen to?" class="input"><ion-icon name="search-outline" class="search-icon"></ion-icon></ion-input>
    </ion-item>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-div">
    <div class="browse-all">
      <p>Browse all</p>
    </div>
    <div>
      <div>
      <ion-grid>      
        <!-- row-first  -->
          <ion-row  class="grid-div">
            <ion-col size="5" class="podcasts">
              <h6>podcasts</h6>
              <img src="../../../assets/images/podcasts.jpg" alt="" class="podcasts-img">
            </ion-col>
            <ion-col size="5" class="live-events">
              <h6>Live Events</h6>
              <img src="../../../assets/images/live-events.jpg" alt="" class="live-img">
            </ion-col>
          </ion-row>    

          <!-- row-second -->
          <ion-row  class="grid-div2">
            <ion-col size="5" class="podcasts">
              <h6>Hindi</h6>
              <img src="../../../assets/images/hindi.jpg" alt="" class="podcasts-img">
            </ion-col>
            <ion-col size="5" class="live-events">
              <h6>Punjabi</h6>
              <img src="../../../assets/images/punjabi-list.jpg" alt="" class="live-img">
            </ion-col>
          </ion-row> 
          
          <!-- row-third -->
          <ion-row  class="grid-div3">
            <ion-col size="5" class="podcasts">
              <h6>Love</h6>
              <img src="../../../assets/images/love.jpg" alt="" class="podcasts-img">
            </ion-col>
            <ion-col size="5" class="live-events">
              <h6>Pop</h6>
              <img src="../../../assets/images/pop.jpg" alt="" class="live-img">
            </ion-col>
          </ion-row> 

          <!-- row-forth -->
          <ion-row  class="grid-div4">
            <ion-col size="5" class="podcasts">
              <h6>Party</h6>
              <img src="../../../assets/images/party.jpg" alt="" class="podcasts-img">
            </ion-col>
            <ion-col size="5" class="live-events">
              <h6>Hip-Hop</h6>
              <img src="../../../assets/images/hip-hop.jpg" alt="" class="live-img">
            </ion-col>
          </ion-row> 

          <!-- row-sixth -->
          <ion-row  class="grid-div6">
            <ion-col size="5" class="podcasts">
              <h6>Workout</h6>
              <img src="../../../assets/images/workout.jpg" alt="" class="podcasts-img">
            </ion-col>
            <ion-col size="5" class="live-events">
              <h6>Gaming</h6>
              <img src="../../../assets/images/gaming.jpg" alt="" class="live-img">
            </ion-col>
          </ion-row> 
          <!-- row-seventh -->
          <ion-row  class="grid-div7">
            <ion-col size="5" class="podcasts">
              <h6>Student</h6>
              <img src="../../../assets/images/student.webp" alt="" class="podcasts-img">
            </ion-col>
            <ion-col size="5" class="live-events">
              <h6>Sleeping</h6>
              <img src="../../../assets/images/sleeping.jpg" alt="" class="live-img">
            </ion-col>
          </ion-row>
          <!-- row-eight -->
          <ion-row  class="grid-div8">
            <ion-col size="5" class="podcasts">
              <h6>Travel</h6>
              <img src="../../../assets/images/travel.jpg" alt="" class="podcasts-img">
            </ion-col>
            <ion-col size="5" class="live-events">
              <h6>Home</h6>
              <img src="../../../assets/images/home-list.jpg" alt="" class="live-img">
            </ion-col>
          </ion-row>
           <!-- row-nine -->
           <ion-row  class="grid-div9">
            <ion-col size="5" class="podcasts">
              <h6>NetFlix</h6>
              <img src="../../../assets/images/netflix.jpg" alt="" class="podcasts-img">
            </ion-col>
            <ion-col size="5" class="live-events">
              <h6>Disco</h6>
              <img src="../../../assets/images/disco.jpg" alt="" class="live-img">
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>
    </div>
  </div>
 
</ion-content>
<app-footer></app-footer>
