<ion-header>
  <ion-toolbar class="header-tool">
    <div class="header">
     <div>
      <ion-icon name="chevron-back"  class="back-arrow"  routerLink="/library-main"></ion-icon>
     </div>
     <div class="input">
      <ion-item>
        <ion-input placeholder="Search Your Library"></ion-input>
      </ion-item>
     </div>
     <div>

     </div>
      </div> 
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="main-div">
  <h5>Find your favourites</h5>
  <p class="p1">Search everything you've liked, followed, or created.</p>
 </div>
</ion-content>

<app-footer></app-footer>