<ion-header>
  <ion-toolbar class="header-tool">
    <div class="header">
     <div>
      <ion-icon name="arrow-back-outline" class="back-arrow"  routerLink="/library-main"></ion-icon>
     </div>
     <div class="p1">
      <p>Create Blend</p>
     </div>
     <div>

     </div>
      </div>
 
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-div">
     <!-- circle div -->
    <div class="circle-main">
      <div class="circle-1">
        <ion-icon name="musical-notes-outline" class="icon"></ion-icon>
      </div>
      <div class="circle-2">
        <ion-icon name="add-outline" class="icon"></ion-icon>
      </div>
    </div>

    <div class="section-2">
      <h3>invite friends to Blend</h3>
      <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illum molestiae commodi impedit nesciunt, eum repellat atque. Deserunt accusamus quo eos rerum, veritatis recusandae impedit necessitatibus delectus commodi? At, repellat?</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa veniam repudiandae laudantium pariatur inventore, eveniet dolores provident similique nam, maxime libero? Exercitationem, sunt accusamus eum facilis est aperiam. Voluptatum, minima.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis vitae atque nihil repellat dolor! Earum voluptatibus beatae nobis nam, praesentium natus est ea laborum quos maiores commodi numquam, ipsa aperiam.</p>
        <div>
          <ion-button class="invite-btn">Invite</ion-button>
        </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>