*{
    font-family: var(--font-family-poppins);
}
ion-header{
    .header-tool{
     --background: var(  --ion-header-background);
        padding-left: 6px;
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
       
    
            .close-icon{
                color: white;
                font-size: 1.7rem;
                padding-left: 3px;
                padding-top: 5px;
                
            }
            .p1{
                text-align: center;
                color: white;
                font-size: 1rem;
                font-weight: 700;
                padding-right: 2rem;
            }
        }
    }
   }
 
ion-content{
    .main-div{
        background-color: black;
        height: auto;
        padding-bottom: 1rem;
        // section-1
        .section-1{
            text-align: center;
            padding-top: 1rem;
            .p1{
                font-size: 18px;
                font-weight: 700;
                color: white;
                margin-top: 0;
            }
            ion-button{
                --background: white;
                overflow: hidden;
                --border-radius: 20px;
                color: black;
                font-size: 13px;
                font-weight: 700;
            }
        }
        // section-2
        .section-2{
            padding-left: 10px;
            .inner{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 15px;
                .inner-2{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 10px;
                    .circle{
                        height: 65px;
                        width: 65px;
                        border-radius: 50px;
                        background: var(--ion-buttons-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .person-icon{
                            color: black;
                            font-size: 25px;
                        }
                    }
                    h6{
                        font-size: 19px;
                        font-weight: 800;
                        color: white;
                    }
                    p{
                        font-size: 12px;
                        color: var( --ion-color-medium-tint);
                        font-weight: 800;
                    }
                }
                .forward-icon{
                    color: var( --ion-color-medium-tint);
                }
            }
      
        
        }
        // section-3
        .section-3{
            padding-left: 10px;
            .account-h6{
               color: white;
               font-weight: 700;
               margin-bottom: 22px;
               margin-top: 20px;
            }
            .p1{
                color: white;
               font-weight: 500;
               font-size: 14px;
               margin-bottom: 0;
            }
            .span{
                font-size: 12px;
                color: var( --ion-color-medium-tint);
                font-weight: 500;
            }
            .save-data-div{
                display: flex;
                justify-content: space-between;
                padding-right: 7px;
                // background: var( --ion-header-background);
                padding: 3px;
                border-radius: 7px;
                // background-color: rgb(39, 39, 39);
                margin-right: 10px;
                margin-top: 5px;
                span{
                    font-size: 12px;
                    color: var( --ion-color-medium-tint);
                    font-weight: 800;
                }
                ion-item{
                    --background: transparent;
                  
                    ion-toggle{
                        color: gray;
                    }
                 
                }
               
            }
            .p2{
                color: white;
               font-weight: 500;
               font-size: 15px;
               margin-bottom: 0;
            }
            .save-data-div-2{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 7px;
                // background: var( --ion-header-background);
                padding: 3px;
                border-radius: 7px;
                // background-color: rgb(39, 39, 39);
                margin-right: 10px;
                // margin-top: 5px;
                span{
                    font-size: 12px;
                    color: var( --ion-color-medium-tint);
                    font-weight: 800;
                    // margin-top: 2px;
                }
                ion-item{
                    --background: transparent;
                  
                    ion-toggle{
                        color: gray;
                    }
                 
                }
               
            }
            .range-div{
                padding-right: 13px;
                display: flex;
                justify-content:space-between;
                align-items: center;
                ion-range{
                    color: white;
                }
                span{
                    color: white;
                    font-size: 13px;
                    margin-left: 10px;
                }
            }
        }
    }
    flex: 1;
}
app-footer{
    height: 50px;
}