<ion-header [translucent]="true">
  <ion-toolbar>
  <div class="header">
    <h5>Choose more artists you like.</h5>
  </div>
  <div>
    <ion-item class="input-item">
      <ion-input Placeholder="Search" class="input"><ion-icon name="search-outline" class="search-icon"></ion-icon></ion-input>
    </ion-item>
  </div>
  <div>
    <div class="tabs">
      <div>
        <ion-button class="music-tab">For You</ion-button>
      </div>
      <div>
        <ion-button class="music-tab-2">Hindi</ion-button>
      </div>
      <div>
        <ion-button class="music-tab-2">Punjabi</ion-button>
      </div>
    </div>
  </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="main-div">
   <!-- artists list -->
  <div class="circle-parent-div">
    <div>
      <div>
        <img src="../../../assets/images/artist-2.jpg" alt="" class="circle">
      </div>
        <p class="p1">Pritam</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/artist-6.jpg" alt="" class="circle">
      </div>
        <p class="p1">Sidhu Moose <br> Wala</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/arman-malik.jpg" alt="" class="circle">
      </div>
        <p class="p1">Arman Malik</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/udit narayan.jpg" alt="" class="circle">
      </div>
        <p class="p1">Udit Narayan</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/lata mangeskar.jpg" alt="" class="circle">
      </div>
        <p class="p1">Lata Mangeskar</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/kumar sanu.jpg" alt="" class="circle">
      </div>
        <p class="p1">Kumar Sanu</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/artist.jpg" alt="" class="circle">
      </div>
        <p class="p1">Arijit Singh</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/jubin.jpg" alt="" class="circle">
      </div>
        <p class="p1">Jubin Nautiyal</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/artist-3.jpg" alt="" class="circle">
      </div>
        <p class="p1">Shreya Ghoshal</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/artist-4.jpg" alt="" class="circle">
      </div>
        <p class="p1">Alka Yagnik</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/artist-5.jpg" alt="" class="circle">
      </div>
        <p class="p1">A.R Rahman</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/punjabi.jpg" alt="" class="circle">
      </div>
        <p class="p1">Guru Randhawa</p>    
    </div>

    <div>
      <div>
        <img src="../../../assets/images/jass manak.webp" alt="" class="circle">
      </div>
        <p class="p1">Jass Manak</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/parmish.jpg" alt="" class="circle">
      </div>
        <p class="p1">Parmish</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/korala.jpg" alt="" class="circle">
      </div>
        <p class="p1">Korala Maan</p>    
    </div>
 

    <div>
      <div>
        <img src="../../../assets/images/jassi gill.jpg" alt="" class="circle">
      </div>
        <p class="p1">Jassi Gill</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/guri.jpg" alt="" class="circle">
      </div>
        <p class="p1">Guri</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/diljeet.webp" alt="" class="circle">
      </div>
        <p class="p1">Diljeet Doshanjh</p>    
    </div>
 
  
 
    <div>
      <div>
        <img src="../../../assets/images/shivjot.jpg" alt="" class="circle">
      </div>
        <p class="p1">Shivjot</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/gurlez.jpg" alt="" class="circle">
      </div>
        <p class="p1">Gurlez Akhter</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/jordan sandhu.jpg" alt="" class="circle">
      </div>
        <p class="p1">Jordan Sandhu</p>    
    </div>
  
 

    <div>
      <div>
        <img src="../../../assets/images/darshan raval.jpg" alt="" class="circle">
      </div>
        <p class="p1">Darshan Raval</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/ankit tiwari.jpg" alt="" class="circle">
      </div>
        <p class="p1">Ankit Tiwari</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/tulsi kumar.jpg" alt="" class="circle">
      </div>
        <p class="p1">Tulsi Kumar</p>    
    </div>
  </div>

  
  <!-- done-button -->
  <div class="done-btn"  routerLink="/library-main">
    <ion-button class="done-btn">Done</ion-button>
  </div>
</div>
</ion-content>