<ion-header>
  <ion-toolbar class="header-tool">
    <div class="header">
     <div>
      <ion-icon name="arrow-back-outline" class="close-icon" routerLink="/settings"></ion-icon>
     </div>
     <div class="p1">
      <p>Account</p>
     </div>
     <div>

     </div>
      </div>
 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="main-div">
  <div class="section-3">
    <div>
      <div class="playlist-div" routerLink="/premium">        
        <img src="../../../assets/images/spotify-logo.png" alt="" height="25px" width="25px">
        <div>
          <p class="p1">Free plan </p>
          <span>View your plan</span>
        </div>
      </div>
      <hr>
      
    </div>
  </div>
 </div>
</ion-content>
<app-footer></app-footer>