<ion-header>
  <ion-toolbar class="header-tool">
    <div class="header">
     <div>
      <ion-icon name="arrow-back-outline" class="back-arrow" routerLink="/search-list"></ion-icon>
     </div>
     <div class="input">
      <ion-item>
        <ion-input placeholder="What do you want to listen to?"></ion-input>
      </ion-item>
     </div>
     <div>

     </div>
      </div> 
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="main-div">
  <h5>Play what you love</h5>
  <p class="ion-text-center">Search for artists, songs, podcasts, and more.</p>
 </div>
</ion-content>
 <app-footer></app-footer>