*{
    font-family: var(--font-family-poppins);
}
ion-header{
    .header-tool{
     --background: black;
        padding-left: 6px;
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
       
    
            .close-icon{
                color: white;
                font-size: 1.7rem;
                padding-left: 3px;
                padding-top: 5px;
                
            }
            .p1{
                text-align: center;
                color: white;
                font-size: 1rem;
                font-weight: 700;
                padding-right: 2rem;
            }
        }
    }
   }

   ion-content{
    .main-div{
        background-color: black;
        min-height: 100vh;
        .section-1{
            padding-left: 10px;
            padding-right: 10px;
            p{
                color: white;
                font-size: 22px;
                font-weight: 800;
                margin-bottom: 10px;
            }
            .progress-bar{
                height: 8px;
                border-radius: 10px;
            }
            span{
                font-size: 12px;
               color: rgb(154, 154, 154);
               font-weight: 800;
              
            }

        }
        .section-2{
            padding-left: 10px;
            p{
                color:var(--ion-text-color);
                font-size: 17px;
                font-weight: 800;
                margin-bottom: 3px;
            }
            h6{
                color: white;
                font-size: 13px;
                font-weight: 800;
                margin-top: 0;
                span{
                    color:var(--ion-text-color);
                    font-size: 16px;
                }
                del{
                    color: gray;
                    font-size: 15px;
                }
            }
            .terms{
                color: rgb(154, 154, 154);
                font-size: 11px;
                margin-top: 3px;
                text-decoration: underline;
            }
        }
        .section-3{
            margin-top: 2rem;
            text-align: center;
            padding-bottom: 2rem;
            .buy-week-btn{
                --background:white;
                color:black;
                --border-radius:20px;
                font-size: 13px;
                font-weight: 700;
                width: 35%;
            }
            .buy-day-btn{
                --background: black;
                color:white;
                outline: 1px solid rgb(186, 186, 186);
                overflow: hidden;
                border-radius: 20px;
                font-size: 13px;
                font-weight: 700;
                width: 35%;
            }
        }
      
    }
   }
