<ion-header>
  <ion-toolbar class="header-tool">
    <div class="header">
     <div>
      <ion-icon name="close-outline"  class="close-icon" routerLink="/premium"></ion-icon>
     </div>
     <div class="p1">
      <p>Get Premium</p>
     </div>
     <div>

     </div>
      </div>
 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="main-div">
   <div class="section-1">
    <img src="../../../assets/images/spotify graphic.jpg" alt="">
    <p>Use Premium Mini for any 14 <br> days in the next 30 days</p>
    <ion-progress-bar value="0.1" class="progress-bar"></ion-progress-bar>
    <span>2/14 days completed</span>
   </div>
   <div class="section-2">
    <p>Your reward</p>
    <h6>1 week of Premium Mini for <span>	&#8377;2 </span> <del> &#8377;25 </del></h6>
    <p class="terms">Terms and conditions</p>
   </div>
   <div class="section-3">
    <ion-button class="buy-week-btn">BUY 1 WEEK</ion-button>
    <div>
     <ion-button class="buy-day-btn">BUY 1 DAY</ion-button>
    </div>
   </div>
 </div>
</ion-content>
