*{
    font-family: var(--font-family-poppins);
}
ion-header{
    .header-tool{
     --background: black;
        padding-left: 6px;
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
       
    
            .close-icon{
                color: white;
                font-size: 1.7rem;
                padding-left: 3px;
                padding-top: 5px;
                
            }
            .p1{
                text-align: center;
                color: white;
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }
   }
ion-content{
    .main-div{
        background-color: rgb(70, 70, 233);
        .section-1{
            padding-left: 10px;
            background-color: black;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
            p{
                font-weight: 700;
                color: white;
               visibility: hidden;
            }
        }
      
        .section-2{
            text-align: center;
            padding-top: 3rem;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 3rem;
            h5{
                margin: 0;
                font-size: 23px;
                font-weight: 800;
                color: white;
            }
            p{
                color: white;
                text-align: center;
            }
            .get-started-btn{
                width: 80%;
                --background:black;
                --border-radius: 20px;
                color: white;
                font-weight: 700;
            }
            .other-plan-btn{
                margin-top: 1rem;
                width: 80%;
                --background:transparent;
                border-radius: 20px;
                color: white;
                font-weight: 700;
                overflow: hidden;
                border: 1px solid white;
                outline: none;
            }
            .terms{
                margin-top: 22px;
                font-size: 11px;
                font-weight: 500;
            }
        }
        .section-3{
            background-color: white;
            h2{
                color: black;
                text-align: center;
                padding-top: 2rem;
                font-weight: 800;
                padding-bottom: 1rem;
            }
            .section-3-div1{
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 15px;
                padding-left: 10px;
                padding-bottom: 25px;
                .round{
                    height: 100px;
                    width: 100px;
                    border-radius: 50px;
                    background-color: rgb(211, 211, 211);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .play-logo{
                        font-size: 40px;
                        color: black;
                    }
                }
                h5{
                    color: black;
                    font-weight: 600;
                }
                p{
                    color: black;
                    margin-top: 5px;
                    font-size: 14px;
                }
            }
        }
        .section-4{
            background-color: rgb(219, 219, 219);
            h2{
                color: black;
                text-align: center;
                padding-top: 2rem;
                font-weight: 800;
                margin: 0;
                padding-bottom: 1rem;
            }
            p{
                color: black;
                text-align: center;
                font-size: 14px;
            }
            // card 1
            .card{
                background-color: white;
                padding-left: 10px;
                padding-bottom: 10px;
                .one-time-btn{
                    border: 1px solid  rgb(70, 70, 233);
                    --background: transparent;
                    color: rgb(70, 70, 233);
                    font-size: 11px;
                    font-weight: bold;
                    margin-top: 20px;
                    margin-left: 10px;
                    border-radius: 8px;
                    overflow: hidden;
                  
                }
                h5{
                    font-size: 18px;
                    color: black;
                    font-weight: 800;
                }
                h6{
                    color: black;
                    font-weight: 800;
                    font-size: 14px;

                }
                hr{
                    border-bottom: 2px solid gray !important;
                    text-align: center;   
                    width: 90%;
                    padding-top: 10px;                 
                }
                .options-div{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 10px;
                    ion-icon{
                        font-size: 27px;
                    }
                    p{
                        color: black;
                        font-weight: 500;
                    }
                }
                .btn-div{
                    text-align: center;
                    padding-top: 15px;
                    .view-plan-btn{                
                        --background: black;
                        color: white;
                        width: 80%;
                        --border-radius: 20px;
                    }

                }
                .terms{
                    text-decoration: underline;
                    color: rgb(152, 152, 152);
                    text-align: left;
                    font-size: 13px;
                    font-weight: 600;
                }
             
            }
            // card 2
            .card-2{
                background-color: white;
                padding-left: 10px;
                padding-bottom: 10px;
                margin-top: 22px;
                .one-month-btn{
                    border: 1px solid  rgb(70, 70, 233);
                    --background: rgb(14, 14, 203);
                    color: rgb(70, 70, 233);
                    font-size: 11px;
                    font-weight: bold;
                    margin-top: 20px;
                    // margin-left: 10px;
                    border-radius: 8px;
                    overflow: hidden;
                    color: white;
                    font-weight: 800;
                    border: none;
                }
                .one-time-btn{
                    border: 1px solid  rgb(70, 70, 233);
                    --background: transparent;
                    color: rgb(70, 70, 233);
                    font-size: 11px;
                    font-weight: bold;
                    margin-top: 20px;
                    // margin-left: 10px;
                    border-radius: 8px;
                    overflow: hidden;
                  
                }
                h5{
                    font-size: 18px;
                    color: black;
                    font-weight: 800;
                }
                h6{
                    color: black;
                    font-weight: 800;
                    font-size: 14px;

                }
                hr{
                    border-bottom: 2px solid gray !important;
                    text-align: center;   
                    width: 90%;
                    padding-top: 10px;                 
                }
                .options-div{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 10px;
                    ion-icon{
                        font-size: 27px;
                    }
                    p{
                        color: black;
                        font-weight: 500;
                    }
                }
                .btn-div{
                    text-align: center;
                    padding-top: 15px;
                    .view-plan-btn{                
                        --background: black;
                        color: white;
                        width: 80%;
                        --border-radius: 20px;
                    }

                }
                .terms{
                    text-decoration: underline;
                    color: rgb(152, 152, 152);
                    text-align: left;
                    font-size: 13px;
                    font-weight: 600;
                }
             
            }

            // footer-card
            .footer-card{
                background-color: white;
                padding-left: 10px;
                padding-bottom: 10px;
                margin-top: 22px;  
                h5{
                    font-size: 20px;
                    color: black;
                    font-weight: bold;
                }       
           
                .btn-div{
                    // text-align: center;
                    padding-top: 15px;
                    .view-plan-btn{                
                        --background: transparent;
                        color: black;
                        width: 40%;
                        height: 40px;
                        border-radius: 20px;
                        border: 2px solid black;
                        overflow: hidden;
                    }

                }
             
            }
        }
    }
}