<ion-header>
  <ion-toolbar class="header-tool">
    <div class="header">
     <div>
      <ion-icon name="close-outline"  class="close-icon" routerLink="/get-premium"></ion-icon>
     </div>
     <div class="p1">
      <p>Get Premium</p>
     </div>
     <div>

     </div>
      </div>
 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="main-div">
  <div class="section-1">
    <img src="../../../assets/icon.png.png" alt="" height="25px" width="25px">
    <div>
      <p>Musify</p>
    </div>
  </div>
  <div class="section-2">
    <h5>Get Premium free for 1 <br> month</h5>
    <p>Just &#8377;119/month after. Debit and credit  cards accepted. Cancel anytime.</p>
    <ion-button class="get-started-btn">GET STARTED</ion-button>
   <div>
    <ion-button class="other-plan-btn">SEE OTHER PLANS</ion-button>
   </div>
    <p class="terms"><u>Terms and conditions apply.</u> 1 month free not available for users  who have already tried Premium.</p>
  </div>
  <div class="section-3">
    <h2>The Power of Premium</h2>
    <div class="section-3-div1">
      <div class="round">
        <ion-icon name="play-circle-outline" class="play-logo"></ion-icon>
      </div>
      <div>
        <h5>Ad-free music <br> listening</h5>
        <p>Enjoy uninterrupted music.</p>
      </div>
    </div>
    <div class="section-3-div1">
      <div class="round">
        <ion-icon name="musical-notes-outline" class="play-logo"></ion-icon>
      </div>
      <div>
        <h5>Offline playback</h5>
        <p>Save your data by listening offline.</p>
      </div>
    </div>
    <div class="section-3-div1">
      <div class="round">
        <ion-icon name="filter-circle-outline" class="play-logo"></ion-icon>
      </div>
      <div>
        <h5>Play everywhere</h5>
        <p>Listen on your speakers, TV, <br> and other favourite devices.</p>
      </div>
    </div>
    <div class="section-3-div1">
      <div class="round">
        <ion-icon name="phone-portrait-sharp" class="play-logo"></ion-icon>
      </div>
      <div>
        <h5>Pay your way</h5>
        <p>Prepay with Paytm, UPI, and more.</p>
      </div>
    </div>
  </div>
  <div class="section-4">
    <h2>Pick your Premium</h2>
    <p>Listen without limits on your phone, speaker <br> and other devices.</p>
    <div>
      <!-- card 1 -->
      <ion-card class="card">
       <ion-button class="one-time-btn">One-time plans available</ion-button>
       <h5>Mini</h5>
       <h6>From &#8377;7/day</h6>
      <span> 1 account on mobile only</span>
       <hr>
       <div class="options-div">
        <ion-icon name="checkmark-outline"></ion-icon>
        <div>
          <p>Ad-free music listening on mobile</p>
        </div>
       </div>
       <div class="options-div">
        <ion-icon name="checkmark-outline"></ion-icon>
        <div>
          <p>Group Session</p>
        </div>
       </div>
       <div class="options-div">
        <ion-icon name="checkmark-outline"></ion-icon>
        <div>
          <p>Download 30 songs on 1 mobile device</p>
        </div>
       </div>
       <div class="btn-div">
        <ion-button class="view-plan-btn" routerLink="/view-plans">VIEW PLANS</ion-button>
       </div>
       <p class="terms">Terms and conditions apply.</p>
      </ion-card>
      <!-- card 2 -->
      <ion-card class="card-2">
     <div class="buttons">
      <ion-button class="one-month-btn">1 month free</ion-button>
      <ion-button class="one-time-btn">One-time plans available</ion-button>
     </div>
        <h5>Individual</h5>
        <h6>From &#8377;119/month after offer period</h6>
       <span> 1 account</span>
        <hr>
        <div class="options-div">
         <ion-icon name="checkmark-outline"></ion-icon>
         <div>
           <p>Ad-free music listening</p>
         </div>
        </div>
        <div class="options-div">
         <ion-icon name="checkmark-outline"></ion-icon>
         <div>
           <p>Group Session</p>
         </div>
        </div>
        <div class="options-div">
         <ion-icon name="checkmark-outline"></ion-icon>
         <div>
           <p>Download 10k songs/device on 5 devices</p>
         </div>
        </div>
        <div class="btn-div">
         <ion-button class="view-plan-btn" routerLink="/view-plans">VIEW PLANS</ion-button>
        </div>
        <p class="terms">Terms and conditions apply.</p>
       </ion-card>
       <!-- card 3 -->
       <ion-card class="card-2">
        <div class="buttons">
         <ion-button class="one-month-btn">1 month free</ion-button>
         <ion-button class="one-time-btn">One-time plans available</ion-button>
        </div>
           <h5>Duo</h5>
           <h6>From &#8377;149/month after offer period</h6>
          <span> 2 account</span>
           <hr>
           <div class="options-div">
            <ion-icon name="checkmark-outline"></ion-icon>
            <div>
              <p>For couple who live together</p>
            </div>
           </div>
           <div class="options-div">
            <ion-icon name="checkmark-outline"></ion-icon>
            <div>
              <p>Ad-free music listening</p>
            </div>
           </div>
           <div class="options-div">
            <ion-icon name="checkmark-outline"></ion-icon>
            <div>
              <p>Group Session</p>
            </div>
           </div>
           <div class="options-div">
            <ion-icon name="checkmark-outline"></ion-icon>
            <div>
              <p>Download 10k songs/device on 5 devices</p>
            </div>
           </div>
           <div class="btn-div">
            <ion-button class="view-plan-btn" routerLink="/view-plans">VIEW PLANS</ion-button>
           </div>
           <p class="terms">Terms and conditions apply.</p>
          </ion-card>
          <!-- card 4 -->
          <ion-card class="card-2">
            <div class="buttons">
             <ion-button class="one-month-btn">1 month free</ion-button>
             <ion-button class="one-time-btn">One-time plans available</ion-button>
            </div>
               <h5>Family</h5>
               <h6> &#8377;179/month after offer period</h6>
              <span> 6 account</span>
               <hr>
               <div class="options-div">
                <ion-icon name="checkmark-outline"></ion-icon>
                <div>
                  <p>For Family who live together</p>
                </div>
               </div>
               <div class="options-div">
                <ion-icon name="checkmark-outline"></ion-icon>
                <div>
                  <p>Ad-free music listening</p>
                </div>
               </div>
               <div class="options-div">
                <ion-icon name="checkmark-outline"></ion-icon>
                <div>
                  <p>Group Session</p>
                </div>
               </div>
               <div class="options-div">
                <ion-icon name="checkmark-outline"></ion-icon>
                <div>
                  <p>Block explicit music</p>
                </div>
               </div>
               <div class="options-div">
                <ion-icon name="checkmark-outline"></ion-icon>
                <div>
                  <p>Download 10k songs/device on 5 devices</p>
                </div>
               </div>
               <div class="btn-div">
                <ion-button class="view-plan-btn" routerLink="/view-plans">VIEW PLANS</ion-button>
               </div>
               <p class="terms">Terms and conditions apply.</p>
           </ion-card>
           
           <!-- footer-card -->
           <ion-card class="footer-card">
               <h5>Special discount for <br> eligible students in <br> university</h5>
               <div class="btn-div">
                <ion-button class="view-plan-btn">LEARN MORE</ion-button>
               </div>

           </ion-card>
           
           
    </div>
  </div>
 </div>
</ion-content>
