<ion-header [translucent]="true">
  <ion-toolbar>
  <div class="header">
    <h5>Choose Podcasts</h5>
  </div>
  <div>
    <ion-item class="input-item">
      <ion-input Placeholder="Search" class="input"><ion-icon name="search-outline" class="search-icon"></ion-icon></ion-input>
    </ion-item>
  </div>
  <div>
  </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="main-div">
   <!-- artists list -->
  <div class="circle-parent-div">
    <div>
      <div>
        <img src="../../../assets/images/mahabharata.jpg" alt="" class="circle">
      </div>
        <p class="p1">The Stories of <br> Mahabharata</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/joe-rogan.jpg" alt="" class="circle">
      </div>
        <p class="p1">The Joe Rogan <br> Experience</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/society.avif" alt="" class="circle">
      </div>
        <p class="p1">More in Society</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/ranveer dp.png" alt="" class="circle">
      </div>
        <p class="p1">The Ranveer <br> Show</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/dhruv.jpg" alt="" class="circle">
      </div>
        <p class="p1">Maha Bharat <br> with Dhruv</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/educational.png" alt="" class="circle">
      </div>
        <p class="p1">More in <br> Educational</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/triggered insan.jpg" alt="" class="circle">
      </div>
        <p class="p1">True Story Bro! <br> with Triggered <br> Insan</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/gopi.jpg" alt="" class="circle">
      </div>
        <p class="p1">Gopi Sudhakar <br> Ennenna</p>    
    </div>
    <div>
      <div>
        <img src="../../../assets/images/onpurpose.jpg" alt="" class="circle">
      </div>
        <p class="p1">On Purpose <br> with Jay Shetty</p>    
    </div>
  </div>


  <!-- done-button -->
  <div class="done-btn"  routerLink="/library-main">
    <ion-button class="done-btn">Done</ion-button>
  </div>
</div>
</ion-content>