<ion-header>
  <ion-toolbar class="header-tool">
    <div class="header">
     <div>
      <ion-icon name="arrow-back-outline" class="close-icon" routerLink="/home-page"></ion-icon>
     </div>
     <div class="p1">
      <p>Recent played</p>
     </div>
     <div>

     </div>
      </div>
 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="main-div">
  <!-- section-1 -->
  <div class="section-1">
    <p class="Yesterday">Yesterday</p>
    <div class="playlist-div">
      <img src="../../../assets/images/allout 00.jpg" alt="" height="60px" width="70px">
       <div>
         <p class="p1">All Out 00's Hindi</p>
         <span>Playlists</span>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/udit narayan.jpg" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/udit narayan.jpg" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/udit narayan.jpg" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
     <!-- next-list -->
     <p class="Yesterday">Mon,Jul 24, 2023</p>
     <div class="playlist-div">
      <img src="../../../assets/images/arijit singh2.jpg" alt="" height="60px" width="70px">
       <div>
         <p class="p1">Arijit Singh Mix</p>
         <span>Playlist</span>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/arijit-singh.webp" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/arijit-singh.webp" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/arijit-singh.webp" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
     <!-- next-list -->
     <p class="Yesterday">Mon,Jul 23, 2023</p>
     <div class="playlist-div">
      <img src="../../../assets/images/korala.jpg" alt="" height="60px" width="70px">
       <div>
         <p class="p1">Korala Maan Singh Mix</p>
         <span>Playlists</span>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/korala2.jpg" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/korala2.jpg" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/korala2.jpg" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
     <!-- next-list -->
     <p class="Yesterday">Mon,Jul 23, 2023</p>
     <div class="playlist-div">
      <img src="../../../assets/images/jubin.jpg" alt="" height="60px" width="70px">
       <div>
         <p class="p1">Jubin Nautiyal Singh Mix</p>
         <span>Playlists</span>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/jubin2.jpg" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/jubin2.jpg" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
     <div class="section-1-inner">
      <div class="playlist-div">
        <img src="../../../assets/images/jubin2.jpg" alt="" height="60px" width="70px">
         <div>
           <p class="p1">Hindi Song</p>
           <span>Song. Udit Narayan</span>
         </div>
       </div>
       <div>
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
       </div>
     </div>
  </div>
</div>
</ion-content>
