<ion-content [fullscreen]="true">
<div class="main-bg-box">
   <!-- Section-1 -->
<div>
  <div class="main-spotify-img">
    <img src="../.././assets/icon.png.png" alt="">
    </div>
    <div class="main-heading">
     <h2>Millions of songs </h2>
    </div>
    <div class="main-heading-2">
     <h2>Free</h2>
    </div>
</div>

  <!-- section-2 -->
 <div class="sign-up-div" routerLink="/sign-up">
  <ion-button class="sign-up-btn"><p class="sign-up-text" >Sign up free</p></ion-button>
 </div>

  <!-- continue phone no. -->
<div class="continue-no" routerLink="/continue-with-phone">
  <div class="border-div">
    <div class="main">
      <div>
        <ion-icon name="phone-portrait-outline" class="phone-icon"></ion-icon>
      </div>
      <div>
          <p class="p1"> Continue with phone number</p>
          <!-- <p class="p2"></p> -->
      </div>
    </div>
  </div>
</div>

  <!-- continue with Google -->
<div class="continue-google">
  <div class="border-div">
    <div class="main">
      <div>
        <ion-icon name="logo-google" class="phone-icon"></ion-icon>
      </div>
      <div>
          <p class="p1"> Continue with Google </p>
      </div>
    </div>
  </div>
</div>

  <!-- continue with facebook -->
  <div class="continue-fb">
    <div class="border-div">
      <div class="main">
        <div>
          <ion-icon name="logo-facebook" class="phone-icon"></ion-icon>
        </div>
        <div>
            <p class="p1"> Continue with Facebook </p>
        </div>
      </div>
    </div>
  </div>

  <!-- login -->
   <div class="login">
    <p class="p1" routerLink="/login">Log in</p>
   </div>
</div>


</ion-content>
